<h1>筑波大学ねっしー自然教育研究会</h1>
<p>ようこそ、ねっしー・自然教育研究会へ。</p>
<p>ねっしーは、小中学生を対象に自然教育活動を行っている、筑波大学公認サークルです。</p>
<p>主に、キャンプやネイチャーゲーム等を通して、自然と人について学んでいます。</p>
<p>みーんな元気な子供たちと一緒に遊ぶのが大好きだから、いっつもワイワイ!!</p>
<p>各コンテンツで詳しい紹介がされているので、ぜひご覧下さい。</p>

<h1>Calendar</h1>
<div id='calendar'></div>
<p>Find me in app/views/pages/index.html.erb</p>